
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=B1.0">
    <title>[H] Elysium on Magtheridon (US)</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
    @Styles.Render("~/Content/css")
</head>
<body>

    <div class="background"></div>
    <div class="background-overlay"></div>

    <div class='navigation'>
        <a class="nav-button text-border" href="~/">Home</a>
        <a class="nav-button text-border">About Us</a>
        <a class="nav-button text-border" href="~/Progression/">Progression</a>
        <a class="nav-button text-border">Forums</a>
        <a class="nav-button nav-button-last text-border">Apply</a>
    </div>
    <div class="body-content">
        @RenderBody()
    </div>
    

    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    @Scripts.Render("~/Content/js")
</body>
</html>