<div class="realm-name text-border">Progression</div>

<div class="progression-link-container kill-pictures">
    <div class="text-border content-heading">Kill Videos</div>

</div>

<div class="progression-link-container kill-videos">
    <div class="text-border content-heading">Kill Pictures</div>

</div>