<ul class='navigation'>
    <li class="nav-button text-border">
        <a class="text-border" href="~/">Home</a>
    </li>
    <li class="nav-button text-border">
        <a class="text-border" href="~/AboutUs/">About Us</a>
    </li>
    <li class="nav-button">
        <a class="text-border" href="~/Progression/">Progression</a>
    </li>
    <li class="nav-button text-border">
        <a class="text-border" href="~/Forums/">Forums</a>
    </li>
    <li class="nav-button text-border">
        <a class="text-border" href="~/Apply/">Apply</a>
    </li>
</ul>